.App h1 {
  text-align: center;
  padding: 10px;
  font-size: bold;
  font-size: 48px;
}

footer {
  text-align: center;
  margin: 10px 0;
  color: #596e79;
}

.App #open-source-link {
  text-decoration: none;
  color: #596e79;
  font-weight: bolder;
}

.App body {
  background-color: #dfd3c3;
  padding: 60px 0 100px;
}
